{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% set active_product = nil %}
{% for product in theme_config.products %}
{%   if product.short_name == page.header.product %}
{%     set active_product = product %}
{%   endif %}
{% endfor %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
  <head>
{% block head %}
    {% include 'partials/metadata.html.twig' %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="https://plus.google.com/+FabioCastelli"/>
    <title>{% if header.title %}{{ header.title|e('html') }}{% else %}{{ site.title|e('html') }}{% endif %}</title>
    {% include 'partials/favicons.html.twig' with { 'product_name': active_product.short_name } %}
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://assets/css/reset.css', 100) %}
        {% do assets.addCss('theme://assets/css/font-architects.css', 99) %}
        {% do assets.addCss('theme://assets/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://assets/css/stylesheet.css', 98) %}
        {% do assets.addCss('theme://assets/css/layout-footer.css', 90) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}
    {% include 'partials/cookie_consent.html.twig' %}
{% endblock head%}
</head>
<body>
{% block header %}
    <header>
      <div class="inner">
        <a href="{{ url(active_product.short_name) }}"><img src="{{ url('resources/' ~ active_product.short_name ~ '/icons/ms-icon-144x144.png') }}" style="padding-right: 20px;" align="left"></a>
        <h1>{{ active_product.name }}</h1>
        <h2>{{ page.title }}</h2>
        {{ 'THEME_MUFLONE.GITHUB.VIEW_PROJECT' | t(active_product.github) }}
      </div>
    </header>
{% endblock %}

{% block body %}
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
        {% block content %}{% endblock %}
        </section>
  {% block sidebar %}{% endblock sidebar %}
      </div>
    </div>
{% endblock %}

{% include 'partials/footer.html.twig' %}
{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
