{% block footer %}
  {% include('partials/analytics.html.twig') %}
    <div class="footer">
      <div id="icons">
        <a href="{{ url('home') }}">
          <img src="{{ url('resources/' ~ theme_config.home_product ~ '/icons/' ~ theme_config.icon_footer) }}" title="Home">
        </a>
  {% for product in theme_config.products %}
        <a href="{{ url(product.short_name) }}">
          <img src="{{ url('resources/' ~ product.short_name ~ '/icons/' ~ theme_config.icon_footer) }}" title="{{ product.name }}">
        </a>
  {% endfor %}
      </div>
      Copyright &copy; 2013-2016 <a href="https://plus.google.com/+FabioCastelli?rel=author">Fabio Castelli</a> |
      <a href="{{ url('home') }}">Home</a> | 
      <a href="{{ url('en') }}"><img src="{{ url('theme://assets/images/english-16.png') }}"> English</a> |
      <a href="{{ url('it') }}"><img src="{{ url('theme://assets/images/italian-16.png') }}"> Italian</a> |
      <a href="{{ url('contacts') }}">{{ 'THEME_MUFLONE.CONTACTS'|t }}</a> |
      <a href="//www.iubenda.com/privacy-policy/{{ 'THEME_MUFLONE.IUBENDA.POLICY'|t }}" target="_blank" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a>
    </div>
{% endblock %}

