{% extends 'partials/base.html.twig' %}
{% do assets.addCss('theme://assets/css/layout-item.css', 90) %}
{% do assets.addCss('theme://assets/css/layout-sidebar.css', 90) %}

{% block content %}
    {{ page.content }}
  {% set collection = page.collection() %}
  {% for child in collection %}
    <h2><img src="{{ url('theme://assets/images/flag-' ~ child.language ~ '-16.png') }}"> 
        <a href="{{ child.url }}">{{ child.title }}</a>
        ({{ child.date | date(config.system.pages.dateformat.short) }})</h2>
    {% if child.children.count > 0 %}
      <ul>
      {% for subchild in child.children %}
        <li><img src="{{ url('theme://assets/images/flag-' ~ child.language ~ '-16.png') }}"> 
          <a href="{{ subchild.url }}">{{ subchild.title }}</a>
        ({{ subchild.date | date(config.system.pages.dateformat.short) }})</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endblock %}
