{% extends 'item.html.twig' %}
{% do assets.addJs('theme://assets/js/ion.tabs.min.js', 90) %}
{% do assets.addCss('theme://assets/css/layout-download.css', 90) %}
{% do assets.addCss('theme://assets/css/ion.tabs.css', 90) %}
{% do assets.addCss('theme://assets/css/ion.tabs.skinBorderedCustom.css', 90) %}

{% block content %}
          <h1><a name="download" class="anchor"></a>{{ 'THEME_MUFLONE.DOWNLOADS.TITLE'|t }}</h1>
          <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.LICENSE.INDEX.TEXT1' | t(active_product.name, active_product.github) }}</p>

          <h1><a name="distributions" class="anchor"></a>{{ 'THEME_MUFLONE.DISTRIBUTIONS.TITLE'|t }}</h1>
          <p>{{ 'THEME_MUFLONE.DISTRIBUTIONS.VERSIONS1'|t(active_product.name) }}
            {{ 'THEME_MUFLONE.DISTRIBUTIONS.VERSIONS2'|t }}</p>

          <p>{{ 'THEME_MUFLONE.DISTRIBUTIONS.VERSIONS3'|t(active_product.github) }}</p>

          <h1><a name="packages" class="anchor"></a>{{ 'THEME_MUFLONE.PACKAGES.TITLE'|t }}</h1>
          <p>{{ 'THEME_MUFLONE.PACKAGES.PACKAGES1'|t }}
            {{ 'THEME_MUFLONE.PACKAGES.PACKAGES2'|t }}</p>

          <script>
            $(document).ready(function(){
              $.ionTabs("#tabs_packages");
            });
          </script>
          <div class="ionTabs" id="tabs_packages" data-name="Tabs_Group_name">
            <ul class="ionTabs__head">
  {% for version in active_product.versions %}
              <li class="ionTabs__tab" data-target="Tab_{{ version.shortver }}">{{ version.version }}</li>
  {% endfor %}
            </ul>
            <div class="ionTabs__body">
  {% for version in active_product.versions %}
              <div class="ionTabs__item" data-name="Tab_{{ version.shortver }}">
                <table id="packages">
                  <thead>
                    <th>Package type</th>
                    <th>Size</th>
                    <th>MD5</th>
                    <th>Download</th>
                  </thead>
    {% for package in version.packages %}
      {% set package_size = package.size ~ ' kB' %}
      {% set package_description = '' %}
      {% if package.type == 'archlinux_aur' %}
        {% set package_type = 'archlinux' %}
        {% set package_size = '-' %}
        {% set package_description = ' (' ~ package.filename ~ ')' %}
      {% elseif package.type == 'archlinux_i686' or package.type == 'archlinux_x86_64' %}
        {% set package_type = 'archlinux' %}
      {% elseif package.type == 'debian32' or package.type == 'debian64' %}
        {% set package_type = 'debian' %}
      {% else %}
        {% set package_type = package.type %}
      {% endif %}
                  <tr>
                    <td class="type"><img src="{{ url('theme://assets/images/' ~ package_type ~ '-32.png') }}"> {{ ('THEME_MUFLONE.PACKAGES.' ~ package.type|upper)|t }}{{ package_description }}</td>
                    <td class="size">{{ package_size }}</td>
                    <td class="md5sum">{{ package.md5sum | upper }}</td>
                    <td class="downloads">
        {% for package_source in package.sources %}
          {% if package_source == 'muflone' %}
                    <a href="{{ url('resources/' ~ active_product.short_name ~ '/archive/v' ~ version.version ~ '/' ~ package.filename) }}"
                      title="{{ 'THEME_MUFLONE.PACKAGES.DOWNLOADFROM'|t }} Muflone">
                      <img src="{{ url('theme://assets/images/muflone-32.png') }}"></a>
          {% elseif package_source == 'github' %}
            {% if package.type == 'source' %}
                    <a href="{{ active_product.github  }}/archive/{{ version.version }}.tar.gz"
            {% else %}
                    <a href="{{ active_product.github  }}/releases/download/{{ version.version }}/{{ package.filename }}"
            {% endif %}
                      title="{{ 'THEME_MUFLONE.PACKAGES.DOWNLOADFROM'|t }} GitHub">
                      <img src="{{ url('theme://assets/images/github-32.png') }}"></a>
          {% elseif package_source == 'archlinux' %}
                    <a href="https://www.archlinux.org/packages/{{ active_product.short_name }}/" target="_blank"
                      title="{{ 'THEME_MUFLONE.PACKAGES.DOWNLOADFROM'|t }} Arch Linux">
                      <img src="{{ url('theme://assets/images/archlinux-32.png') }}"></a>
          {% elseif package_source == 'aur' %}
                    <a href="https://aur.archlinux.org/packages/{{ package.filename }}/" target="_blank"
                      title="{{ 'THEME_MUFLONE.PACKAGES.DOWNLOADFROM'|t }} Arch Linux AUR">
                      <img src="{{ url('theme://assets/images/archlinux-32.png') }}"></a>
          {% else %}
                    Undefined package source {{ package_source }}
          {% endif %}
        {% endfor %}
                    </td>
                  </tr>
    {% endfor %}
                </table>
              </div>
  {% endfor %}
              <div class="ionTabs__preloader"></div>
            </div>

    {{ page.content }}
{% endblock %}
