{% extends 'partials/base.html.twig' %}
{% do assets.addCss('theme://assets/css/layout-item.css', 90) %}
{% do assets.addCss('theme://assets/css/products.css', 100) %}

{% block body %}
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section class="full-width">
  {% set active_product = nil %}
          <div class="full-width product">
            <div class="products-table">
  {% for product in theme_config.products %}
              <div class="product product-column">
                <div><a href="{{ product.short_name }}">
                  <img src="{{ cdn('/resources/' ~ product.short_name ~ '/icons/android-icon-144x144.png') }}">
                  <div class="product-name">{{ product.name }}</div></a>
                  <div>{% if grav.language.getActive == 'it' %}{{ product.description_it }}{% else %}{{ product.description }}{% endif %}</div>
                </div>
              </div>
  {% endfor %}
            </div>
          </div>
  {{ page.content }}
        </section>
      </div>
    </div>
{% endblock %}
