{% extends 'item.html.twig' %}

{% block content %}
          <h1><a name="translations" class="anchor"></a>{{ 'PLUGIN_SHORTCODE_MUFLONE.TRANSLATIONS.INDEX.TITLE' | t }}</h1>
          <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.TRANSLATIONS.INDEX.TEXT1' | t(active_product.name) }}</p>
          <ul>
  {% for language in active_product.languages %}
            <li>{{ ('THEME_MUFLONE.LANGUAGES.' ~ language|upper()) | t }}</li>
  {% endfor %}
          </ul>
          <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.TRANSLATIONS.INDEX.TEXT2' | t(active_product.name) }}</p>
          <p>{{ 'PLUGIN_SHORTCODE_MUFLONE.TRANSLATIONS.INDEX.TEXT3' | t(active_product.translations, active_product.github, active_product.github) }}</p>
    {{ page.content }}
{% endblock %}
